files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |       
      ### Fulfiller Integration
      # Dana Ward
      ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAhZShMY1vs4rVW0oJWK7/NBNbjxAQ4x55L+dG5Fux0q8tNaUY1p/Qr4P/3OL5JFeaJsFkUAC7ofn4zmBwne/S1trxRcwCAQ5LxN+1rFjo7JlW2Wg55CsnofYtY+wrLslQHaY47k2AcVVKXkWk2mr6SN+TwaHPaevh871boNEGPPRqFw18phiez6d77CAh0lmEWWbrz6qU29tvtYI2+PIlhGyBUm1w+yFZ6PoQB/xq4OIr34zojV+7AVD/CZ4c/zE6ee6X5j+Bec7V3V8h4gvvHySKI8tjdJJBZRmZ8j+ycj0rwisXtZjyPO9vd9fbNMpsgWgNRGQpQZVSEL3UtTjuhw== daward@cimpress.com
      # Eric Basile
      ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAgEApbq6i6FJ7kAKIvKoV2EhNTFDzriPJLgyKuhuEMx8QvtQKy7GoejOFSUGDV6VT07DDSd357iCkL8Q4hIFts1h8hFrTafCWbpAwwMRDPbbjczjCs4n/3jEMqVamU849q9rzrv/VxhmXBMrebEnE8xYsmXdkK5jOvJU+5NFfByxNlVXPmL2WGgbf2ZQ0F0AoUWSueGwKRppmYL0pX1qpxZTz/jg8FKtkBkSpD1HSVjYvc1ZM4v8NxbGtLlvP2Cd52RwKlcOq33laQhIA4UrNOA6ijRhakH/dlT/cMCHhvyjSL94br5fZW0g8PgF0K0NihucgY3CaM/HfF7aeEHkb/B1blzRJ0jRvWe4RL3MSPeG6Nc5VKHxiZ5HBoycn0JaF3kalV2NxZH4JqiT8ottnKuXNG1oVstFaigGgkeYzsND21NFVyd9gIEYLtP9MFA1OZYUl0Arc/GL+NQvapB/JJzWDuzeXtDI8fBuKmmeTrn5cklPgoWUrKukUUNYYa7PArFpmXhALfcwMFMIHZ96MdkX63clhiPTUzjYQl5q7PinwfR1U5D9cdaIKFplnpnS03OvRG25rqMXdC+i8AHIxSxuapcZaglekRuiW5VON3cxwJf631MVsrZj+Ardn4INp4zsrlUIqgCHAW33XN9elIJ/xy6indE90j5uvIBfJpDc+v8= ebasile@cimpress.com
      # Amol Deshmukh
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCoB6yX65H+z9OQuGw2iGi1EOb0T2eOn/pwE6bh2hack24xl6f8VpKXvAl73Av0dEObUmZxOuThzE3YwJ0RjiwrRix37FSqfNVSLmWMPDZgHaeGLs8i/Z1dnjJ1ojliV9/Nft9R21sum+4kL7jriPCbJ/cxz6l75DUhn123MyUGCpe4aTi94s6l+sIC2W9BVKKvU4Li56gWW96NUT6I7Fd345Qcqsfgnrm8XMp6RsvtQNomJR7LZEtG3zyf9rC1EdAGQLCSXL4U3dmTksUlk1ClGj8VqK9Nszi8yOehZ5sc5PkKAHhTf/8xE0thnA357lzOCXCIvt7BP+9yGCDHARrl amdeshmukh@cimpress.com
      # Rohit Saigal
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDRBpzqy404c4W4pfm0F5Hp4cDPSlYNrD/BsGvCKqfLZDniNwH3GU48cthPkuFTx9AWkE0VHAJat9jNZNuX5eN8+X6fRjIFuhkTpEHZ0CV8yo+lMd12Cij5Cv0C+8IuIYQRdxE6gFeRjmwVB9Y0xTGP+clAme7ZXsCJh6ZZ9fg6314gQ4AM96cJUbno3SugSubiuWaNDEUkPzZI65SwzCdpbKB9UhHdfX1w8i8wd1WxBdw70/WAP02QZSgdGqCKfhnLXVbPi/WZ1P+QyRMlAVv9qUkJA+JA1qfX8Kx2KwI3hl4CrDsTIqlHYWVup9SZxmsSwN/LJAD/5SqiLResIt6H rsaigal@cimpress.com
option_settings:
  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp, 22, 22, 10.0.0.0/8
    EC2KeyName: dummy